<div style="width: 100vw; display: flex; justify-content: center;">
  <div style="width: 400px; height: 100vh;  border: 1px solid #999; padding: 2rem">
    <div echarts [options]="option" class="demo-chart" style="height: 400px;"></div>
  </div>
</div>
